* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.section {
    width: 100%;
    padding: 100px 0;
}

.about-company-section{
    padding-top: 150px;
    
}
.section-title {
    font-size: 48px;
    color: #134B70;
    text-align: center;
    font-weight: 500;
}
.about-company-section__content{
    position: relative;
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 1250px;
    margin: 0 auto;
    padding-top: 60px;
}
.about-company-section__content::before {
    content: "";
    position: absolute;
    height: 610px;
    bottom: 0;
    left: 44%;
    width: 2px;
    background-color: #000;
    transform: translateX(-50%);
}
.about-company-section__picture{
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-company-section__img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}
.about-company-section__card{
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card-text__span{
    font-weight: 600;
    color: #00497A;
}
.about-company-section__card-text{
    background-color: #D7D7D7;
    border-left: 8px solid #134B70;
    padding: 14px;
    height: 190px;
    border-radius: 0 15px 0 0 ;
    font-size: 20px;
    line-height: 1.5;
}
.section-structure {
    background-color: #D4D1D1;
    width: 100%;
    padding: 40px 20px;
    text-align: center;

}
.structure-title{
    font-size: 32px;
    color: #201E43;
    font-weight: 500;
    text-align: center;

}

.section-structure__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 30px 60px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    margin-top: 55px;
}

.section-structure__item{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 70px;
}
.centered-item {
    grid-column: 1 / -1;
    justify-self: center;
}
.section-structure__circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #1c2c5a;
    border-radius: 50%;
    font-weight: bold;
    color: #1c2c5a;
    font-size: 16px;
    flex-shrink: 0;
}
.section-structure__container{
    max-width: none;
}