* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.section-title {
    text-align: left;
    color: #000073;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 70px;
}
section{
    padding: 20px 170px 0 170px;
    
}
.architecture-section{
    padding-top: 170px;
}
.grid-section__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    background: #fff;
    border-radius: 12px;
    padding-bottom: 100px;
}
.grid-section__title {
    background-color: #d9e6f5;
    color: #000;
    padding: 10px 20px;
    background: linear-gradient(to right, #999999 0%, #66A3FF 100%);
    margin-bottom: 10px;
    font-size: 24px;
}
.grid-section__picture{
    max-width: 650px;
    grid-row: span 2;
}
.grid-section__img {
    width: 100%;
    height: 100%;
    max-height: 650px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
  
}
.grid-section__text {
    line-height: 1.5em;
    border: 1px solid black;
    padding: 10px;
    border-radius: 0 10px 0 0 ;
    height: 99%;
    font-size: 18px;
    
}
.grid-section__text-item{
    font-weight: 600;
}
.grid-section__text-span{
    text-transform: uppercase;
    color: #00497A;
}
.grid-section__content-reverse{
    direction: rtl;
}

.grid-section__content-reverse .grid-section__img,
.grid-section__content-reverse .grid-section__text {
    direction: ltr;
}
.grid-section__text-reverse{
    border-radius: 10px 0 0 0 ;
}