.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__menu-container {
  max-width: none;
  width: 100%;
}

.header__container {
  height: auto;
  min-height: 89px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(-90deg, #002e4c 19%, #00497a 54%, #bbbbbb 100%);
}

.header__nav {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  position: relative;
  top: 15px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-left: 30px;
}

.header__logo-name {
  width: 230px;
  font-size: 16px;
  color: #000073;
  font-weight: 600;
  padding-top: 10px;
}

.text-uppercase {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.header__logo-img {
  position: relative;
  top: 0;
  width: 87px;
  height: 103px;
  z-index: 2;
}

.header__menu {
  display: flex;
  gap: 30px;
  flex-grow: 1;
  justify-content: end;
  font-weight: 500;
  margin-right: 100px;
  align-items: center;
}

.drop-down-menu ul li {
  position: relative;
  float: left;
}

.drop-down-menu ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
  transition: max-height 0.5s ease;
}

.drop-down-menu ul li a:hover {
  color: #5f7cff;
}

.drop-down-menu ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: #00497aa4;
  font-weight: 400;
  z-index: 2;
  list-style: none;
  padding: 0;
  margin-top: 10px;
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-out, opacity 0.3s ease-out,
    visibility 0.3s ease-out;
}

.drop-down-menu ul li ul li {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
}

.drop-down-menu ul li ul :hover {
  background: #002e4c;
}

.drop-down-menu ul li:hover > ul {
  max-height: 350px;
  border-radius: 10px;
  opacity: 1;
  visibility: visible;
}

.header__flag {
  width: 50px;
  height: 40px;
  border: none;
  background: linear-gradient(to top, #f5d535 50%, #000073 50%);
}

.header::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #f5d535;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #1f89cf;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  background-color: #134b70;
  transition: transform 0.5s;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu__btn-close {
  position: absolute;
  top: 16px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  fill: transparent;
  background-color: transparent;
  cursor: pointer;
}

.mobile-menu__logo {
  margin: 32px 10px;
  width: 230px;
  gap: 10px;
  font-size: 10px;
  height: 60px;
  display: flex;
}

.mobile-menu__logo-name {
  color: #fff;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #fff;
  margin-left: 32px;
}

.mobile-menu__link {
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
}

.menu-btn-open {
  display: none;
}

.mobile-menu__link {
  color: #fff;
}

.footer {
  position: relative;
  background: linear-gradient(90deg, #b0b0b0 0%, #7fa4cf 30%, #134b70 80%);
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 30px 170px;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footrer__logo-img {
  width: 70px;
  height: auto;
}

.footer__logo-name {
  max-width: 300px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-align: left;
}

.footer-uppercase {
  text-transform: uppercase;
  color: #000073;
}

.footer__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #fff;
  gap: 50px;
}
.footer__menu {
  line-height: 2;
}
.footer__menu-list {
  color: #fff;
}
.footer__menu-list:hover {
  text-decoration: underline;
  color: #000073;
}

.footer__address {
  text-align: right;
}

.footer__address-contacts {
  display: flex;
  text-align: left;
  line-height: 2;
}

.footer__address-link {
  color: #fff;
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  transition: opacity 0.3s ease;
}

.footer__address-link:hover {
  opacity: 0.7;
}
