* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #cfcfcf8c;
}

.services-section{
    padding: 150px 80px 100px 80px;
}
.section-title{
    text-align: center;
    color: #000073;
    font-size: 40px;
    font-weight: 600;
}
.services-section__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.services-section__card {
    display: flex;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
    justify-content: center;

    border: 1px solid black;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
}

.services-section__reverse{
    flex-direction: row-reverse;
    border-radius: 15px 0 0 15px;
    overflow: hidden;
}
.services-section__card-text {
    flex: 1;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
    
}
.services-section__span{
    text-transform: uppercase;
    color: #00497A;
    font-weight: 600;
}
.services-section__card-picture{
    flex-shrink: 0;
    width: 450px;
    height: 450px;
    object-fit: cover;
    overflow: hidden;
   
}
.services-section__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;


}

.services-section__card-title{
    font-size: 24px;
    color: #00497A;
    font-weight: 500;
}
.services-section__card-list{
    font-weight: 600;
    padding-top: 20px;
}
.services-section__card-item{
    font-weight: 400;
}
.services-section__card-two-img{
    height: 50%;
}
.services-section__card-inform{
    width: 90%;
   padding-top: 100px;
}
@media (max-width: 768px) {
    .services-section {
        padding: 100px 10px 50px 10px;
    }

    .services-section__card,
    .services-section__reverse {
        flex-direction: column-reverse;
        border-radius: 15px;
        border: none;
        border-radius: 0;
    }

    .services-section__card-picture {
        width: 100%;
        height: 200px;
    }
   

    .services-section__card-inform {
        width: 100%;
        padding-top: 40px;
    }

    .services-section__card-title {
        font-size: 20px;
        text-align: center;
    }

    .services-section__card-text {
        font-size: 15px;
    }

    .services-section__card-list {
        padding-top: 10px;
    }
}

@media (max-width: 480px) {
    .services-section__content{
        padding: 50px 0;
    }
    .section-title {
        font-size: 24px;
    }

    .services-section__card-title {
        font-size: 14px;
        text-align: left;
    }
    .services-section__card-picture-two {
        height: 300px;
    }
    /* .services-section__card-picture {
        height: 200px;
    } */

    .services-section__card-img {
        object-position: center;
    }
}
